name: inside_chassidus
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 3.0.0+12

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.0
  json_annotation: ^3.0.1
  expandable: ^4.1.4
  cached_network_image: ^2.0.0-rc.1
  rxdart: ^0.24.0
  bloc_pattern: ^2.5.1
  path_provider: ^1.4.0
  font_awesome_flutter: ^8.5.0
  audio_service: ^0.15.0
  firebase_core: ^0.5.0
  firebase_analytics: ^6.0.0
  firebase_crashlytics: ^0.2.0-dev.5
  dart_extensions: ^1.0.1
  hive: ^1.4.3
  hive_flutter: ^0.3.1
  flutter_breadcrumb_menu: ^1.0.0
  inside_api:
    git:
      url: https://github.com/yringler/inside-api.git
      ref: 5bfd314d9ac1aadcf2d546c67a2f1176f67f8688
  #  path: ../inside-api
  just_audio_service:
    git:
      url: https://github.com/yringler/just_audio_service.git
      ref: 75574adec6febe7a102d1ef6cf7dda198f23708b
  # path: ../just_audio_service
dev_dependencies:
  hive_generator: ^0.8.1
  # build_runner: 1.10.0 # https://stackoverflow.com/a/63315768
dependency_overrides:
  #analyzer: 0.39.14 # https://stackoverflow.com/a/63315768
  flutter_breadcrumb_menu:
    git:
      url: https://github.com/yringler/flutter-breadcrumb-menu
      ref: f407152479029ef0194cd51885a7478ab4a46aef
  #  path: ../flutter-breadcrumb-menu

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
